
/* transition left */
.fade-in-left-enter {
    transform: translateX(-100px);
    opacity: 0;
}
.fade-in-left-enter-to {
    transform: translateX(0);
    opacity: 1;

}
.fade-in-left-leave {
    transform: translateX(0);
    opacity: 1;
}

.fade-in-left-leave-to {
    transform: translateX(-100px);
    opacity: 0;
}

.fade-in-left-enter-active {
    transition: opacity .5s ease, transform .5s ease;
}
.fade-in-left-leave-active {
    transition: opacity .5s ease, transform .5s ease;
}

/* transition top */

.fade-in-top-enter {
    transform: translateY(-100px);
    opacity: 0;
}
.fade-in-top-enter-to {
    transform: translateY(0);
    opacity: 1;

}
.fade-in-top-leave {
    transform: translateY(0);
    opacity: 1;
}

.fade-in-top-leave-to {
    transform: translateY(-100px);
    opacity: 0;
}

.fade-in-top-enter-active {
    transition: opacity .5s ease, transform .5s ease;
}
.fade-in-top-leave-active {
    transition: opacity .5s ease, transform .5s ease;
}

/* transition bottom */

.fade-in-bottom-enter {
    transform: translateY(100px);
    opacity: 0;
}
.fade-in-bottom-enter-to {
    transform: translateY(0);
    opacity: 1;

}
.fade-in-bottom-leave {
    transform: translateY(0);
    opacity: 1;
}

.fade-in-bottom-leave-to {
    transform: translateY(100px);
    opacity: 0;
}

.fade-in-bottom-enter-active {
    transition: opacity .5s ease, transform .5s ease;

}
.fade-in-bottom-leave-active {
    transition: opacity .5s ease, transform .5s ease;
}


/* transition right */

.fade-in-right-enter {
    transform: translateX(100px);
    opacity: 1;
}
.fade-in-right-enter-to {
    transform: translateX(0);
    opacity: 1;

}
.fade-in-right-leave {
    transform: translateX(0);
    opacity: 1;
}

.fade-in-right-leave-to {
    transform: translateX(100px);
    opacity: 0;
}

.fade-in-right-enter-active {
    transition: opacity .5s ease, transform .5s ease;
}
.fade-in-right-leave-active {
    transition: opacity .5s ease, transform .5s ease;
}